.charBox {
    --buffer: 6px;
    --frameDistance: -215px;
    overflow: hidden;
    width: 130px;
    height: 190px;
    position: fixed;
    scale: 0.7;
    transition: left var(--duration) ease, top var(--duration) ease;
    filter: drop-shadow(0px 30px 40px #000);
  }
  
  /* -215px per frame when animating */
  /* steps = frames.length - 1 */
  
  .charBox > img {
    position: absolute;
  }
  
  .turnLeft {
    transform: scaleX(-1);
  }
  
  .stand {
    translate: 0 0;
    animation: stand 3s steps(1) infinite;
  }
  
  .jump {
    translate: calc(var(--frameDistance) * 0) calc(var(--frameDistance) * 4.85);
    animation: jump 1s steps(7) 1;
  }
  
  .walk {
    translate: 0 calc(var(--frameDistance) * 1.95);
    animation: walk 1s steps(3) infinite;
  }
  
  .run {
    translate: 0 calc(var(--frameDistance) * 2.95);
    animation: run 1s steps(7) infinite;
  }
  
  /* translate: 
  (x) LAST_FRAME        --> (frameDistance * lastFrameIndex) + buffer
  (y) ANIMATION_CYCLE   --> Not rounded to whole number; exact sprite measurements unknown
  */
  @keyframes run {
    to {
      translate: calc(calc(var(--frameDistance) * 7) + var(--buffer)) calc(var(--frameDistance) * 2.95);
    }
  }
  
  @keyframes walk {
    to {
      translate: calc(calc(var(--frameDistance) * 3) + var(--buffer)) calc( var(--frameDistance) * 1.95);
    }
  }
  
  @keyframes jump {
    to {
      translate: calc(calc(var(--frameDistance) * 7) + var(--buffer)) calc(var(--frameDistance) * 4.85);
    }
  }
  
  @keyframes stand {
    /* initial */
    0%,
    28.6%,
    85.7%
    {
      translate: 0 0
    }
    /* legs bend down */
    14.3%,
    42.9%,
    100%
    {
      translate: var(--frameDistance) 0
    }
    /* eyes start to close */
    57.1% {
      translate: 0 var(--frameDistance)
    }
    /* eyes closed */
    71.4% {
      translate: var(--frameDistance) var(--frameDistance)
    }
  }