.itemCard {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
