
.details {
    width: clamp(150px, 50vw, 500px);
    aspect-ratio: 19 / 9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    overflow: hidden;
    /* position: relative; */
    border: 5px solid red;
}

.detailsContainer {
    /* position: absolute; */
    height: max-content;
    display: grid;
    grid-template-areas: 
        "img description description"
        "img drag drag"
        "amnt btn btn"
    ;
    place-items: center;
    border: 5px solid green
}

.detailsContainer > img {
    grid-area: img;
}

.currentAmnt {
    grid-area: amnt;
}

.drag {
    grid-area: drag;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    grid-area: description;
}

.btnContainer {
    display: flex;
    grid-area: btn
}  

.details::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

